[submodule "modfiles/lualib"]
	path = modfiles/lualib
	url = https://github.com/ClaudeMetz/FactorioUtilLib
[submodule "scripts"]
	path = scripts
	url = https://github.com/ClaudeMetz/FactorioScripts
[submodule "modfiles/locale"]
	path = locale
	url = https://github.com/ClaudeMetz/FactoryPlannerLocale
